{% extends 'base.html.twig' %}


{% block body %}
    <h1>Welcome to your dashboard</h1>
    <ul>
        <li>Your classes</li>
        <li></li>
        <li></li>
        <li></li>
            
    </ul>
{% endblock %}



